{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Sent</title>
    <link href="{% static 'assets/css/text.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <img src="#" alt="Logo">
        </header>
        <h2>Password Reset Sent</h2>
        <p>An email has been sent to your email address. Follow the instructions in the email to reset your password.</p>
        <footer>
            <p>&copy; 2024 Your Company</p>
        </footer>
    </div>
</body>
</html>
