{% extends "base.html" %}

{% load static %}

{% block title %}About - Vox Events Hub{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          {% comment %} <ol>
            <li><a href="index">Home</a></li>
            <li class="current">About</li>
          </ol> {% endcomment %}
        </nav>
        <h1>About</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="section about">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <!-- First Column -->
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-12">
                <img src="{% static 'assets/img/about3.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-12 content">
                <h3>Our Mission Statement</h3>
                <p class="fst-italic">
                  VoxVents’ mission is to revolutionize the event industry by providing a dynamic platform that bridges the gap between talented artists and event organizers, ensuring a seamless booking experience and enriching events with unparalleled musical performances.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Innovative Technology: By leveraging cutting-edge technology, VoxVents will offer a user-friendly platform that simplifies the booking process, making it efficient for artists to connect with event organizers.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Community Building: We will cultivate a supportive community for artists and event planners, providing them with networking opportunities, resources, and tools to grow their presence and business.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Customer-Centric Services: VoxVents will prioritize customer satisfaction by offering responsive support, transparent pricing, and a reliable review system to ensure high-quality experiences for all users.</span></li>
                </ul>
                <p>
                  At VoxVents, we are forging a path to a future where every musical note and every artist’s vision contributes to the tapestry of global events. Our dedication to enhancing the connection between artists and audiences is unwavering, and we are committed to nurturing a world where every event is an opportunity for creative expression.
                </p>
              </div>
            </div>
          </div>
          <!-- Second Column -->
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-12">
                <img src="{% static 'assets/img/about2.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-12 content">
                <h3>Our Vision Statement</h3>
                <p class="fst-italic">
                  Our vision at VoxVents is to be the premier global marketplace for live entertainment, where every artist can thrive and every event can resonate with the perfect performance, fostering a world where music and celebration are synonymous.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Global Expansion: VoxVents will continuously expand its reach, aiming to connect with diverse markets worldwide, bringing a broad spectrum of live entertainment to every corner of the globe.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Strategic Partnerships: We will form strategic partnerships with industry leaders, venues, and event organizers to create more opportunities for artists and enhance the event experience for clients.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Continuous Improvement: VoxVents is committed to ongoing innovation and improvement, staying ahead of industry trends to provide the best platform for live entertainment booking and management.</span></li>
                </ul>
                <p>
                  The journey of VoxVents is one of innovation and unity. We are crafting a legacy where the rhythm of events is set by the heartbeat of live performances, creating a symphony of experiences that resonate across borders. Our pursuit is relentless, our horizon boundless, as we bring the world together in celebration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- Clients Section -->
    <section id="clients" class="section clients">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Artists</h2>
        <p>VoxVents is driven by a profound commitment to nurturing the artistic community. Our motive is to create a thriving ecosystem where artists can showcase their talents, connect with opportunities, and grow their careers. We believe in the transformative power of music and performance, and our platform is designed to elevate artists by providing them with the tools and exposure they need to succeed. By simplifying the booking process and fostering a supportive network, VoxVents aims to remove barriers, enabling artists to focus on their passion while securing financial stability and recognition in the industry. Our mission is to amplify creativity and celebrate the arts in every event.</p>
          <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-item active"> 
              <div class="carousel-container">
                <a href="{% url 'artist_home' %}" target="_blank" class="btn-get-started">Get Started</a>
              </div>
            </div>
          </div>
      </div>

      <div class="container section-title" data-aos="fade-up">
        <h2>Clients</h2>
        <p>VoxVents is dedicated to enhancing the client experience in event planning and execution. Our platform is motivated by the desire to streamline the search for quality entertainment, ensuring clients can effortlessly find and book the perfect artists for their events. We understand the importance of creating memorable occasions, and VoxVents serves as a reliable partner in this endeavor. By offering a curated selection of artists, transparent pricing, and a robust review system, we empower clients to make informed decisions with ease and confidence. Our commitment lies in simplifying event logistics, allowing clients to focus on celebrating life’s moments while we handle the orchestration of their entertainment needs.</p>
        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-item active"> 
            <div class="carousel-container">
              <a href="{% url 'client_home' %}" target="_blank" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->


  </main>

{% endblock %}
