{% extends "base.html" %}

{% load static %}

{% block title %}services - Vox Events Hub{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          {% comment %} <ol>
            <li><a href="index">Home</a></li>
            <li class="current">Services</li>
          </ol> {% endcomment %}
        </nav>
        <h1>Our Services</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="section services">

      <div class="container">

        <div class="row gy-4">
          <h3 <i class="fa fa-align-center" aria-hidden="true"></i>>For our artists</h3>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Profile Customization</h3>
              </a>
              <p>Create a captivating profile with multimedia elements to showcase your unique talents and attract event organizers looking for your specific skills.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Gig Scheduling</h3>
              </a>
              <p>Utilize our intuitive calendar to manage your bookings, ensuring you never miss an opportunity or double-book yourself.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Direct Messaging</h3>
              </a>
              <p>Communicate directly with clients to discuss gig details, negotiate terms, and build lasting professional relationships.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Performance Analytics</h3>
              </a>
              <p>Track your gig frequency, client feedback, and earnings to understand your market position and plan your career growth.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Secure Payments</h3>
              </a>
              <p>Benefit from our reliable payment system that ensures timely and secure transactions after every successful gig.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Community Access</h3>
              </a>
              <p>Join a network of fellow artists to exchange ideas, collaborate on projects, and gain support from a like-minded community.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /End artists ervices Section -->


    <section id="services" class="section services">

      <div class="container">

        <div class="row gy-4">
          <h3 <i class="fa fa-align-center" aria-hidden="true"></i>>For our clients</h3>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Artist Discovery</h3>
              </a>
              <p>Explore a curated selection of talented artists, DJs, and performers, making it easy to find the perfect entertainment for your event.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Transparent Pricing</h3>
              </a>
              <p>VoxVents provides clear pricing information upfront, ensuring you can budget effectively and make informed decisions.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Direct Booking</h3>
              </a>
              <p>Seamlessly book artists directly through the platform, eliminating intermediaries and streamlining the booking process.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Quality Assurance</h3>
              </a>
              <p>Access artist reviews, ratings, and sample work to ensure the quality and reliability of your chosen performers.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Event Coordination</h3>
              </a>
              <p>Manage all your bookings, event details, and artist communication within VoxVents, simplifying event logistics.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Personalized Recommendations</h3>
              </a>
              <p>Receive tailored artist recommendations based on your event type, preferences, and location, saving you time and effort.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /End Clients Services Section -->


  </main>

  {% endblock %}